.rootContainer {
    display: flex;
    flex: 1;
    overflow: auto;
}

.accordionContainer {
    height: 100%;
    width: 300px;
    background-color: #f0f0f0;
    overflow: auto;
}

.appBar {
}

.body {
    overflow: auto;
    padding: 24px;
    flex: 1;
}
