.expanded {
    margin: 0 !important;
}

.summary {
    background-color: #f0f0f0 !important;
    text-align: center !important;
    padding-left: 0 !important;
    > div {
        margin-left: 10px !important;
        margin-right: 10px !important;
        justify-content: center;
    }
}
